
#contact-content h1{
    font-size: 35px;
    margin-top: 10px;
}

#contact-content h2{
    font-size:30px;
    margin-bottom: 5px;
}

#contact-content p{
    margin-top: 0px;
}

#contact-content .list-inline a{
    font-size: 25px;
    padding: 10px;
    color: black;
}

.buttonDark{
    border-color:#B1ACA5
}
